.produto {
    display: flex;
    gap: 8px;
    background-color: rgb(248, 246, 246);
    padding: 6px;
    border-radius: 5px;
    margin: 10px 0px;
    justify-content: space-between;
}

.produto-title {
    display: flex;
    gap: 4px;
}

.forms-repor-estoque {
    display: flex;
    gap: 8px;

    input {
        border: 1px solid #ccc;
        border-radius: 8px;
    }

    button {
        padding: 10px 14px;
        border: none;
        border-radius: 8px;
        transition: 0.2s;
        cursor: pointer;

        &:hover {
            opacity: 0.5;
        }
    }
}

.msg-confirmacao {
    background-color: #F1F7F3;
    border: 1px solid #d0f3dc;
    border-radius: 8px;
    padding: 5px 15px;
}