<h2>Produtos em estoque</h2>

<div class="produto" *ngFor="let produto of produtos">
    <div class="produto-title">
        <p>ID: {{produto.id}}</p>
        <p>Produto: {{produto.title}}</p>
    </div>
    <p>Quantidade em Estoque: {{ ProdutoService.obterQuantidade(produto.id) }}</p>
</div>

<h2>Repor Estoque</h2>

<form [formGroup]="formItem" (ngSubmit)="enviar()" class="forms-repor-estoque">
    <input type="string" formControlName="id" placeholder="Digite o ID...">
    <input type="number" formControlName="quantidade" placeholder="Quantidade">
    <button type="submit" [disabled]="!formItem.valid">+ Adicionar</button>
</form>

@if (reposicaoEnviada) {
    <div class="msg-confirmacao">
        <p>Estoque enviado!</p>
        <p>Foi adicionado ao produto </p>
    </div>
}